<%= link_to "Create New Trip", new_user_trip_path(current_user) %>

<h2>My Trips</h2>

<h4>Choose Existing Trip</h4>

<div class="my-trip-list">
  <% @trips.each do |trip| %>
    <a href=<%= user_trip_path(current_user, trip) %> ><div class="my-trip">
      <div class="trip-city-pic">
      </div>
      <%= trip.start_city %><br>
      <%= trip.start_date %> - <%= trip.end_date %>
    </div></a>
  <% end %>
</div>
