<%= link_to "Create New Trip", new_user_trip_path(current_user) %>

<h1>My Trips</h1>

<h3>Choose Existing Trip</h3>

<h1>Account Info</h1>
<%= %>
<%= link_to "Edit Email", edit_user_path(current_user) %>
<%= link_to "Edit Phone", edit_user_path(current_user) %>
<%= link_to "Update Image", edit_user_path(current_user) %>
<%= link_to "Change Password", users_password_reset_path(current_user.id), method: :get %>
#EDIT WHEN WE CREATE THIS PATH
<%= "View My Reviews" %>
<%= link_to "Delete Account", user_path(current_user), method: :delete %>

<div class="my-trip-list">
  <% @trips.each do |trip| %>
    <a href=<%= user_trip_path(current_user, trip) %> ><div class="my-trip">
      <%= trip.start_city %><br>
      <%= trip.start_date %> - <%= trip.end_date %>
    </div></a>
  <% end %>
</div>
