

<h2 align="center">My Trips</h2>

<h4 align="center">Select a Trip</h4>

<div align="center">
  <%= link_to "Create New Trip", new_user_trip_path(current_user), class: "btn btn-edit-email" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class -"panel-title">ALL TRIPS</h2>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class=" col-md-9 col-lg-9 ">
              <table class="table table-user-information">
                <tbody>
                  <div class="my-trip-list">
                    <% @trips.each do |trip| %>
                      <tr>
                        <a href=<%= user_trip_path(current_user, trip) %>
                      </tr>
                      <tr>
                        <strong>City: </strong><%= trip.start_city %><br />
                      </tr>
                      <tr>
                        <strong>Duration:</strong> <%= trip.start_date %> - <%= trip.end_date %>
                      </tr>
                      <hr/>
                      </hr/>
                      </div></a><br>
                    <% end %>
                  </div>
                </tbody>
              </table>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
