<h2 align="center">Create a New Trip</h2>

<div class="new-tour-form">
  <%= bootstrap_form_for [@user, @trip] do |f| %>
    <%= f.text_field :start_city, label: "Location" %>
    <%= f.date_field :start_date, label: "Start Date" %>
    <%= f.date_field :end_date, label: "End Date" %>
    <%= f.submit "Create Trip", class:"btn btn-sign-in" %>
  <% end %>
</div>
