<h1>You must sign in or create an account to create a trip</h1>

Don't have an account? <%= link_to "Create an Account with Email", new_user_path %> <br>

<%= link_to "Sign In with Google", login_path %> <br>
<%= link_to "Sign In with Facebook", new_user_path %> <br>

<div class="container form" style="width:400px; margin:0 auto;">
  <h3>Sign In with Email:</h3>
  <%= bootstrap_form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :email %>

    <%= f.password_field :password %>

    <%= f.submit "Sign In", class:"btn btn-sign-in" %>
  <% end %>
</div>
