<% @participants.delete(current_user.username) %>

<div class="messages-container">
  <div id="messages-table">
    <h4>This is the beginning of your private conversation with <%= @participants.join(", ") %></h4>
    <% @private_chat.messages.each do |message| %>
      <div class="message <%= "viewer" if message.user.id === current_user.id %> <%= "other" if message.user.id != current_user.id %>">
        <p class="message-user"><%= message.user.username %></p>
        <p class="message-body"><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <%= render partial: "messages/form" %>
</div>
