<div class="attraction-details">
  <h5 class="add-attraction-button">Add Attraction Placeholder</h5>

  <div class="card">
    <div style="background-image: url(<%= @attraction.photo_url %>);" class="city-image attraction-details-img">
    </div>
    <div class="card-block">
      <h2 class="card-title attraction-details-name"><%= @attraction.name %></h2>
    </div>
    </div>
  <div class="attraction-details-address attraction-details-field">
    <%= "Address: #{@attraction.formatted_address}" if @attraction.formatted_address %>
  </div>
  <div class="attraction-details-phone attraction-details-field">
    <%= "Phone Number: #{@attraction.formatted_phone_number}" if @attraction.formatted_phone_number %>
  </div>
  <div class="attraction-details-rating attraction-details-field">
    <%= "Rating: #{@attraction.rating}" if @attraction.rating %>
  </div>
  <div class="attraction-details-website attraction-details-field">
    <%= link_to "Official Website", @attraction.website if @attraction.website %>
  </div>
  <div class="attraction-details-hours attraction-details-field">
  <% if @attraction.opening_hours %>
      <%= "Hours of Operation:" %>
      <ul>
        <% @attraction.opening_hours.each do |daily_hours| %>
          <li><%= daily_hours %></li>
        <% end %>
      </ul>
  <% end %>
  </div>
  <div class="attraction-details-international_phone_number attraction-details-field">
    <%= @attraction.international_phone_number if @attraction.international_phone_number %>
  </div>
  <div class="attraction-details-review attraction-details-field">
    <% if @attraction.reviews %>
    <h4>Visitor Reviews:</h4>
    </div>
      <% @attraction.reviews.each do |review| %>
        <div class="review-detail attraction-details-field">
        <img src="<%= review[:profile_photo_url] %>" alt="author-avatar">
        <a href=<%= review[:author_url] %>> <%= review[:author_name] %></a>
        <p>Rating: <%= review[:rating] %> <span class="light-text"><%= review[:relative_time_description] %></span></p>
        <p><%= review[:text] %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
