<div class="attraction-details">
  <div class="card">
    <div style="background-image: url(<%= @attraction.photo_url %>);" class="city-image attraction-details-img">
    </div>
    <div class="card-block">
      <h4 class="card-title attraction-details-name"><%= @attraction.name %></h4>
    </div>
    </div>
  <div class="attraction-details-address">
    <%= "Address: #{@attraction.formatted_address}" if @attraction.formatted_address %>
  </div>
  <div class="attraction-details-phone">
    <%= "Phone Number: #{@attraction.formatted_phone_number}" if @attraction.formatted_phone_number %>
  </div>
    <%= "Rating: #{@attraction.rating}" if @attraction.rating %>
  <div class="attraction-details-website">
    <%= link_to "Official Website", @attraction.website if @attraction.website %>
  </div>
  <div class="attraction-details-hours">
      <%= "Hours of Operation: #{@attraction.opening_hours}" if @attraction.opening_hours%>
  </div>
    <%= @attraction.international_phone_number if @attraction.international_phone_number %>
  <div class="attraction-details-review">
    <% if @attraction.reviews %>
      <% @attraction.reviews.each do |review| %>
        Visitor Reviews: <%= review[:author_name] %>
        <%= review[:rating] %>
        <%= review[:relative_time_description] %>
        <%= review[:text] %>
        <%= link_to 'Author Website', review[:author_url] %>
        <img src="<%= review[:profile_photo_url] %>" alt="author-avatar">
      <% end %>
    <% end %>
  </div>
</div>
