<h2 class="city-name"><%= @city[:name] %></h2>
<% @attractions.each do |attraction| %>
  <div class="attraction-preview card">
    <a class="attraction-preview-link" href="/search?attraction=<%=attraction.place_id%>"></a>
    <%= link_to login_path, class: "add-attraction-button btn btn-xs btn-warning btn-expand" do %>
      <i class="glyphicon glyphicon-plus"></i>&nbsp&nbsp<strong>SCHEDULE</strong>
    <% end %>
    <div style="background-image: url(<%= attraction.photo_url %>);" class="city-image attraction-image-container"></div>
    <div class="card-block">
      <h4 class="card-title attraction-preview-name"><%= attraction.name %></h4>
    </div>
  </div>
<% end %>
