<div class="column-list col-xs-12 col-sm-12 col-md-3 col-lg-3">
  <%= @city[:name] %>
  <%# binding.pry %>
  <% @attractions.each do |attraction| %>
      <a href="/search?attraction=<%=attraction[:name]%>" style="line-height:62px;"><div class="attraction-preview">
        <%# binding.pry %>
        <% if attraction[:photos] %>
          <div><img class="attraction-image-container" src="https://maps.googleapis.com/maps/api/place/photo?photoreference=<%= attraction[:photos][0][:photo_reference] %>&sensor=false&maxheight=300&maxwidth=300&key=<%= ENV['google_map_api_key'] %>"></div>
        <% end %>
        <h2 class="attraction-preview-name"><%= attraction[:name] %></h2>
        <%= attraction[:geometry][:location][:lat] %>
        <%= attraction[:geometry][:location][:lng] %>
        <%= attraction[:id] %>
        <%= attraction[:place_id] %>
        <%= attraction[:opening_hours] %>
      </div> </a>
    <% end %>
</div>

<div class="main-map col-xs-12 col-sm-12 col-md-9 col-lg-9" id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'),
         {
          center: {lat: <%= @city[:lat] %>, lng: <%= @city[:lng] %>},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_map_api_key'] %>&callback=initMap"
    async defer></script>
