<div class="column-list scroll-column col-xs-12 col-sm-3 col-md-3 col-lg-3">
  <% @cities.each do |city_id| %>
    <% city = City.find(city_id) %>
    <a href="/search?city=<%= city_id %>" style="line-height:62px;">
      <div class="city-preview">
        <div class="card attraction-preview">
          <div style="background-image: url(<%= city[:picture] %>);" class="city-image">
          </div>
        <div class="card-block">
          <h4 class="card-title"><%= city[:name] %>, <%= city[:country] %></h4>
        </div>
      </div>
    </div>
  </a>
<% end %>
</div>

<div class="main-map col-xs-12 col-sm-12 col-md-9 col-lg-9" id="map">
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.7392, lng: -104.9903},
          zoom: 12
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_map_api_key'] %>&callback=initMap"
    async defer></script>
 </div>
