<div class="container">
  <div class="confirm-text">
    <h1 class="name"><%= @user.first_name %></h1>

    <p>Please check your phone for a 6-digit verification code.</p>

    <p>Enter the code to reset your password.</p>
  </div>
  <div class="form">
    <%= form_tag(confirmations_path, method: "post", class: "form-horizontal") do %>
      <div class="form-group">
        <%= label_tag :verification_code, "Verification Code", class: "control-label" %>
        <br>
        <%= text_field_tag :verification_code, nil, class: "form-control" %>
        <br>
        <%= hidden_field_tag :user_id, @user.id, class: "form-control" %>
        <%= submit_tag "Confirm", class: "btn btn-confirm" %>
      </div>
    <% end %>
  </div>
</div>
