<div class="container-fluid">
  <div class="row no-gutters">
    <div class="logo col-xs-12 col-sm-12 col-md-3 col-lg-3 img-fluid">
      <%= link_to root_path do %>
        <%= image_tag "logo-white.jpg", class: "logo" %>
      <% end %>
    </div>

    <div class="main-secondary-navs col-xs-12 col-sm-9 col-md-9 col-lg-9">

      <nav class="navbar navbar-default navbar-main">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
              <% if current_user && current_user.vendor? %>
                <li class="new-trip"><a href=<%= user_vendor_dashboard_path(current_user) %>>Vendor Dashboard</a></li>
              <% elsif current_user %>
                <li class="new-trip"><a href=<%= new_user_trip_path(current_user) %>>New Trip</a></li>
              <% else %>
                <li class="new-trip"><a href=<%= login_path %>>New Trip</a></li>
              <% end %>

            </ul>

            <% if current_user %>
              <%= render partial: "/layouts/trip_dropdowns" %>
            <% end %>

              <%= form_tag('/search', method: :get, class: "nav navbar-form navbar-left") do %>
              <div>
                <%= text_field_tag :query, "find a city", class: "transp-text" %>
                <%= submit_tag "Search", class: "btn btn-search" %>
              </div>
              <% end %>

            <ul class="nav navbar-nav navbar-right">
              <% if current_user && current_user.vendor? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle user-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href=<%= user_vendor_dashboard_path(current_user) %>>Vendor Dashboard</a></li>
                  <li><a href=<%= user_vendor_tours_path(current_user) %> class="my-tours">My Tours</a></li>
                  <li><a href=<%= new_user_vendor_tour_path(current_user) %>>Create New Tour</a></li>
                  <li><a href=<%= user_path(current_user) %> class="my-account-link">My Account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href=<%= logout_path %> class="sign-out-link">Sign Out</a></li>
                </ul>
              </li>
              <% elsif current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle user-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="user-name"><%= current_user.first_name%></span>&nbsp&nbsp<span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href=<%= user_trips_path(current_user) %>>My Trips</a></li>
                  <li><a href=<%= new_user_trip_path(current_user) %>>Plan New Trip</a></li>
                  <li><a href=<%= user_path(current_user) %> class="my-account-link">My Account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href=<%= logout_path %> class="sign-out-link">Sign Out</a></li>
                </ul>
              </li>
              <% else %>
                <li><a href="/login" class="sign-in-link">Sign In</a></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <nav class="navbar navbar-default navbar-secondary">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li><a href="#">Attractions</a></li>
              <li><a href="#">Tours</a></li>
              <% if current_user %>
                <li><a href=<%= conversations_path %>>Chat</a></li>
              <% end %>
              <% if current_user && current_user.admin? %>
                <li><a href=<%= admin_dashboard_path %>>Dashboard</a></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>

<% if params[:city] %>
<nav class="navbar navbar-default navbar-filters nav-bar-third">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed third" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-filters" id="bs-example-navbar-collapse-3">
      <ul class="nav navbar-nav">
        <li><a href="/search?attraction_type=point-of-interest&city=<%=@city_id%>">Sightseeing</a></li>
        <li><a href="/search?attraction_type=shopping_mall&city=<%=@city_id%>">Shopping</a></li>
        <li><a href="/search?attraction_type=restaurant&city=<%=@city_id%>">Restaurants</a></li>
        <li><a href="/search?attraction_type=museum&city=<%=@city_id%>">Museums</a></li>
        <li><a href="/search?attraction_type=library&city=<%=@city_id%>">Libraries</a></li>
        <li><a href="/search?attraction_type=transit_station&city=<%=@city_id%>">Transport</a></li>
        <li><a href="/search?attraction_type=night_club&city=<%=@city_id%>">Nightlife</a></li>
        <li><a href="/search?attraction_type=park&city=<%=@city_id%>">Parks</a></li>
        <li><a href="/search?attraction_type=gym&city=<%=@city_id%>">Sports</a></li>
        <li><a href="/search?attraction_type=spa&city=<%=@city_id%>">Relaxation</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% end %>
