<div class="container-fluid">
  <div class="row no-gutters">
    <div class="logo col-xs-12 col-sm-12 col-md-3 col-lg-3 img-fluid">
      <%= link_to root_path do %>
        <%= image_tag "logo-white.jpg", class: "logo" %>
      <% end %>
    </div>

    <div class="main-secondary-navs col-xs-12 col-sm-9 col-md-9 col-lg-9">

      <nav class="navbar navbar-default navbar-main">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li class="new-trip"><a href="#">New Trip</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-nav btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle user-avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">AVATAR<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href=<%= user_trips_path(current_user) %>>My Trips</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href=<%= user_path(current_user) %> class="my-account-link">My Account</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href=<%= logout_path %> class="sign-out-link">Sign Out</a></li>
                </ul>
              </li>
              <% else %>
                <li><a href="/login" class="sign-in-link">Sign In</a></li>
              <% end %>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <nav class="navbar navbar-default navbar-secondary">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
              <li><a href="#">Places</a></li>
              <li><a href="#">Tours</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-filters nav-bar-third">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed third" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
      <ul class="nav navbar-nav">
        <li><a href="#">Sightseeing</a></li>
        <li><a href="#">Shopping</a></li>
        <li><a href="#">Restaurants</a></li>
        <li><a href="#">Museums</a></li>
        <li><a href="#">Family</a></li>
        <li><a href="#">Transport</a></li>
        <li><a href="#">Nightlife</a></li>
        <li><a href="#">Outdoors</a></li>
        <li><a href="#">Sports</a></li>
        <li><a href="#">Relaxation</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
