<!DOCTYPE html>
<html>
  <head>
    <title>CloneyIsland</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <% if @attractions_js %>
      <script type="text/javascript">
        var attractions = <%= raw @attractions_js %>;
      </script>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      @media only screen and (max-width: 767px) {
        #map {
        height: 500px;
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        }
      }
      @media only screen and (min-width: 768px) {
        #map {
          height: 90%;
          width: 73%;
          margin-right: 1%;
          border-radius: 10px;
        }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
