<!DOCTYPE html>
<html>
  <head>
    <title>CloneyIsland Travel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <% if @attractions_js %>
      <script type="text/javascript">
        var attractions = JSON.parse('<%= raw @attractions_js %>');
      </script>
    <% end %>
    <% if @attraction %>
      <script type="text/javascript">
        var attraction_img = '<%= raw @attraction.photo_url %>';
      </script>
    <% end %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>
    <%= yield %>
  </body>
</html>
